<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">



    <title>Previsão do Tempo</title>


</head>
<body>



<div id="card" class="blur-background">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="city">Digite o nome da Cidade</label>
        {{ form.city(class="form-control", placeholder="Ex: Porto Velho") }}
      <button type="submit">Buscar</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
  </div>


  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>